
@media screen and (max-width: 767px){
    *{
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
    }
    body{
        margin: 0px ;
        padding: 0px;
        max-width: 767px;   
    }
        /* SET navbar */
    .container-navbar,
    .container-about,
    .container-job-info,
    .container-certificate,
    .container-project{
        display: block;
        padding-left: 32px;
    }
    .container-navbar > div{
        padding: 5px 10px;
    }
        /* SET Info */
    #target{
        padding-left: 32px;
    }
        /* SET Job-info */
    .info-header{
        flex: 50%;
    }
    .info-icons{
        flex: 50%;
        font-size: 32px;
    }
        /* SET Certificate */
    .container-certificate-info{
        padding: 0px;
    }
    .container-certificate-right img,
    .container-certificate-left img,
    .container-certificate-info img{
        border-left: none;
        padding: 15px 0px;
    }
    .container-certificate-info,
    .container-certificate-right,
    .container-certificate-left > div{
        display: block;
    }
    .container-certificate img{
        width: 100%;
   }
        /*SET Project */
    .container-project img{
        width: 100%;
    }
        /* SET Footer */
        .container-footer ul{
            margin-left: 50px;
        }
}