@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
        width: 1170px;
        margin: 0px auto;
        padding: 0;
        display: block;
    }
        /*  SET Job */
    .container-job-info{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .info-header{
        flex: 60%;
    }
    .info-icons{
        flex: 40%;
        font-size: 32px;
    }
        /* SET Certificate */
    .container-certificate img{
       width: 100%;
    }
    .container-certificate-info,
    .container-certificate-right{
        display: block;
    }
    .container-certificate-info img,
    .container-certificate-left img,
    .container-certificate-right img{
        border-left: none;
        margin-bottom: 20px;
    }
    .container-certificate-left > div{
        display: block;
        border-bottom: none;
        border-right: 2px solid #d6c08d;
        
    }
    .container-certificate-left,
    .container-certificate-right{       
        border-bottom: 2px solid #d6c08d;
        padding-bottom: 20px;
    }
        /* SET Project */
    .container-project img{
        width: 100%;
    }
    h4{
        font-size: 12px;
    }
    table td:first-child{
        height: 200px;
        padding: 0px 5px;
    }
}